[build]
builder = "NIXPACKS"
buildCommand = "python manage.py collectstatic --noinput"

[deploy]
startCommand = "gunicorn projectecommerce.wsgi:application --bind 0.0.0.0:8000 --timeout 120 --workers 2"
# No healthcheck configuration here
restartPolicyType = "ON_FAILURE"

[phases.setup]
nixPkgs = ["postgresql", "python311"]

[[services]]
autoDeploy = true
internal_port = 8000
port = 443