[Unit]
Description={{ webservers_description }}
After=network.target

[Service]
EnvironmentFile={{ webservers_working_directory }}/.env
WorkingDirectory={{ webservers_working_directory }}
Restart=on-failure
ExecStart={{ webservers_venv }} {{ webservers_exec_start }}

[Install]
WantedBy=multi-user.target