{% extends "main.html" %} 

{% block content %}
<!-- Checkout page -->

<div class="container py-5">
  <h1 class="mb-4 fs-4">Checkout</h1>

  {% if messages %}
  <div class="messages mb-4">
    <!-- For loop to itrate the messages with the conditional statement -->
    {% for message in messages %}
    <div
      class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-success {% endif %} rounded"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row">

    <!-- Order Summary -->
    <div class="col-md-4 order-md-2 mb-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">Order Summary</h3>
        </div>
        <div class="card-body">
            
          {% for item in cart_items %}
          <div class="d-flex justify-content-between mb-3">
            <h6 class="my-0">{{ item.product.name }}</h6>
            <small class="text-muted"> Quantity: {{ item.quantity }}</small>
          </div>
          <div class="text-muted"> £{{ item.get_total }} </div>
          {% endfor %}

          <hr>
          <div class="d-flex justify-content-between">
            <span> Total: </span>
            <strong> £{{ total_price }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 order-md-1">
      <form method="post">
        {% csrf_token %}

        <!-- Shipping Address  -->
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title mb-0">Shipping Address</h3>
          </div>
          <div class="card-body">{{ shipping_form.as_p }}
          </div>
        </div>

        <!-- Payment info -->
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title mb-0">Payment Method</h3>
          </div>
          <div class="card-body">
            <div id="standard-payment-form">
            {{ payment_form.as_p }}
            </div>
            <!-- Paypal Button -->
             <div class="mt-3" id="paypal-button-container" style="display: none;"></div>
          </div>
        </div>

        <!-- Coupon Code -->
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title mb-0">Do you have a coupon to purchase?</h3>
          </div>
          <div class="card-body">{{ coupon_form.as_p }}</div>
        </div>
        <button class="btn btn-outline-success btn-lg btn-block w-100" type="submit"> Place Order </button> 
      </form>
    </div>

  
  </div>



</div>

{% endblock content %}

{% block extra_js %}
<script src="https://www.paypal.com/sdk/js?client-id=AWts89Frxqd0WfbIAzRa2fjiW9FBuDFTEFW-Yp73B8xwyhElcBTslP9xjVnt8zE-bNJuGhxTnHjBGrAs&currency=USD">  
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Payment functionality
      const paymentMethodSelect = document.querySelector("select[name='payment_method']");
      const standardpaymentForm = document.getElementById("standard-payment-form");
      const paypalButtonContainer = document.getElementById("paypal-button-container");

      // Payment method toggle 
      paymentMethodSelect.addEventListener('change', function(){
          if (this.value === 'paypal'){
            standardpaymentForm.style.display = 'none';
            paypalButtonContainer.style.display = 'block'
          } else {
            standardpaymentForm.style.display = 'block';
            paypalButtonContainer.style.display = 'none'

          }
      });

      // Helper function for CSRF token
      function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '' ){
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++){
          const cookie = cookies[i].trim();
          if (cookies.substring(0, name.length + 1) === (name + '=')){
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    // Fetch CSRF token from cookie

  function initPayButtons(){
    paypal.Buttons({
      // Create order on the server

      createOrder: function(data, actions){
        return fetch('https://127.0.0.1:8000/paypal/create-order/', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json", // application
            "X-CSRFToken": getCookie("csrftoken"),
          },
        })
        .then(response => {
          if (!response.ok){
            throw new Error('Network response failed');
          }
          return response.json();
        })
        .then(order => order.id)
        .catch(error => {
          console.error("Error creating the Paypal order:", error);
          alert("Failed to create the paypal order, please try again.");
          throw error;
        })
      },
      
      // finalise the transation on the server

      onApprove: function(data, actions){
        return fetch('https://127.0.0.1:8000/paypal/capture-payment/', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrf_token")
          },

          body: JSON.stringify({
            orderID: data.orderID
          })

        })
        .then(response => {
        if (!response.ok){
            throw new Error('Payment capture failed.')
        }
        return response.json()
        })

        .then(function(data){
          if (data.status == 'success'){
            window.location.href = `https://127.0.0.1:8000/order/confirmation/${data.order_id}/`;
          } else {
              throw new Error("payment failed, please try again.")
          }
        })

        .catch(error => {
          console.error("Payment Error", error);
          alert("Payment processing failed, please contact support.")

        });
      },
      
      // Handle cancellation 
      
      onCancel: function(data){
        console.log('transation cancellation', data);
        alert('Payment processing cancelled.');

      },

      // Handle errors

      onError: function(err){
        console.error('Paypal Button Error:', err); 
        alert('An error occurred with Paypal, please try again later.');
      }
    
    }).render('#paypal-button-container');
  }

  });
</script>

{% endblock extra_js %}
