{% extends "main.html" %}

{% block content %}
<div class="container mx-auto mt-8 max-w-md">
    <h2 class="text-2xl font-bold mb-4"> Login </h2>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}


        <button type="submit" class=" btn btn-primary text-white px-4 py-2 roundedend "> Login </button>
        <p class="mt-4">
            Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 btn btn-outline-info"> Register here </a>
        </p>
    </form>
</div>

{% endblock content %}